// ***************************************************************************
// INTRO
// ***************************************************************************

.intro {

	padding: 0 0 50px;
	text-align: center;

	span {

		text-indent: -9999px;

	}

}